body{
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .slider{
    margin: 0 auto;/*centralizar o carousel horizontal*/
    width: 800px;/*define a largura do carousel*/
    height: 400px; /*define a altura do carousel*/
    overflow: hidden;/*esconde o counteúdo do carousel*/
    }
    .slides{
    width: 400%;/*Define a largura total como para comportar 4 slides*/
    height: 400px; /*alutura dos slides*/
    display: flex;/*alinha os sides*/
    }
    .slides input{ /*Escode os botões de rádio*/
    display: none;
    }
    .slide{
    width: 25%;/*cada slide ocupa 25% da largura total do container*/
    position: relative;/*posicionar os elementos dentro do slide*/
    transition: 2s;/*trasição suave entre os slides*/
    }
    .slide img{
    width: 800px;/*largura da imagem para preencher os slide*/
    }
    .manual-navigation{
    position: relative;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content:center;
    }
    .manual-btn{
    border: 4px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    }
    .manual-btn:not(:last-child){
    margin-right: 40px;
    }
    .manual-btn:hover{
    background-color: #fff;
    }
    #radio1:checked ~.first{
    margin-left: 0;
    }
    #radio2:checked ~.first{
    margin-left: -25%;
    }
    #radio3:checked ~.first{
    margin-left: -50%;
    }
    .navigation-auto div{
    border: 4px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    }
    .navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    }
    .navigation-auto div:not(:last-child){
    margin-right: 40px;
    }
    #radio1 :checked ~.navigation-auto .auto-btn1{
    background-color: #fff;
    }
    #radio2 :checked ~.navigation-auto .auto-btn2{
    background-color: #fff;
    }
    #radio3 :checked ~.navigation-auto .auto-btn3{
    background-color: #fff;
    }
    /*Celulares*/
    @media screen and (max-widht: 580px){
    }
    /*Tablets*/
    @media(min-width:768px) and (max-widht: 1024px){
    }
    /*Orientação horizontal*/
    @media(orientation: landscape){
    }    